# Please update KERNELDIR with a valid path to kernel source tree
#KERNELDIR=/usr/src/linux
#KERNELDIR=/home/zhangdong.roger/4.1/kernel
KERNELDIR=/media/system2/root/CM10/kernel/samsung/u8500

# Please select extra flags and options.
EXTRA_CFLAGS +=

# Please select bus type to be used
# Valid options: spi, sdio
BUS_TYPE = sdio
